.main{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
}
button{
    position: absolute;
    background-color: #D3CEBA;
    right: 10%;
    top: 10%;
    border: none;
    border: 2px solid #e3e3e3 ;
    padding: 15px;
    border-radius: 20px;
    color: #fff;
}
.chat-card{
    width: 350px;
    height: 350px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction:column ;
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.chat-card .head-card{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.chat-card .card-body img{
    width: 65px;
    height: 65px;
}

/* document.getElementById('next').addEventListener('click', function() {
    var currentSlide = document.querySelector('.swiper-slide-active');
    var nameElement = currentSlide.querySelector('.name');

    if (nameElement) {
        nameElement.style.color = 'red';
    }
    setTimeout(()=>{
        nameElement.style.color='black'

    },3000)
}); */
