.main{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #fff;
    height: 100vh;
    overflow-x: hidden;

}
.navbar{
    background-color: #FFFEF9 ;
}
.navbar-brand{
    letter-spacing: 0.5rem;
    color: #2387C2 !important;
}
.get-start{
    background-color: #2387C2 !important;
    border:1px solid #2387C2 ;
}
.rommate{
    color: #2387C2;
    font-weight: 600;
}
.room{
    color: #035781;
    font-weight: 600;
}
.border{
    border-radius: 34px;
    background-color: #FFFEF9;
}

.findPrefer{
    width: 100%;
    font-size: 12px;
}
/* Landing Page */
 .landing{
    display: flex;
    justify-content: space-around;
}
.girl-section{
    position: relative;
    display: flex;
}

.search{
    position: absolute;
    top: 150px;
    left: 50px;
}
.girl-section .star1 /*red*/{
    position: absolute;
    top: 65%;
    left: 10px;
}
.girl-section .star2 /*yellow*/{
    position: absolute;
    top: 5%;
    left: 22%;
}
.girl-section .star3 /*blue*/{
    position: absolute;
    top: 75%;
    right: 35%;
}
.girl-section .line{
    position: absolute;
    top: 35%;
    right: 28%;
}
@media (max-width:992px) {
    .room{
        width: 80%;
        text-align: center;
    }
    .border{
        width: 12% !important;
    }    
.girl-section .line{
    display: none;
}
.girl-section .star3 /*blue*/{
    position: absolute;
    top: 75%;
    right: 15%;
}
}
.man-section{
    position: relative;
    display: flex;
}
.man-section .star1{
    position: absolute;
    top: 190px;
    left: 5px;
}
.man-section .star2{
    position: absolute;
    top: 40px;
    left: 5px;
}
.man-section .star3{
    position: absolute;
    top:30px;
    right: 60px;
}

.man-section .line2{
    position: absolute;
    top: 180px;
    right:  40px;
    transform: scaleY(-1);
}
.man-section .home{
    position: absolute;
    top:90px;
    right: 0px;
}
.man-section .man{
    position: absolute;
    left: -40px;
}
.get-start2{
    background-image: linear-gradient(to right , #FFD433,#997F1F);
    border-image: linear-gradient(to right , #FFD433,#997F1F);
    padding: 10px;
    border: none;
    color: #fff;
    border-radius: 50px;
}
@media (max-width:1200px) {
    .man-section .line2{
        display: none;
    }
    .man-section .man{
        position: absolute;
        left: 30px;
        width: 60%;
    }
}

@media (max-width:992px) {
    .man-section .man{
        position: absolute;
        left: 40px;
        width: 50%;
    }
    .get-start2{
        text-align: center;
        margin-left: 100px;
    }
    .man-section .line2{
        display: none;
    }
}
@media (max-width:576px) {
.landing{
    display: flex;
    text-align: center;
}
.landing .room{
    margin-left: 20px;
}
.get-start2{
    margin-left: 0;
}
}

/* carousel */

.main-carousel{
    background-color: #035781;
}
.carousel-right{
    position: relative;
    display: flex;    
}
.carousel-right .carousel-item img{
    border-radius: 10% 10% 0 0;
}
.carousel-right .carousel-item p{
    border-radius:  0 0 20% 20%;

}
/* .indic{
    position: absolute;
    top: 120px;
    transform:rotate(-90deg);
}
.indic button{
    transform:scaleY(8.5);
    transform:scaleX(8.7);
    margin-top: -120px;
} */
.carousel-left{
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 40px;
    margin-top: 10% !important;
}
.carousel-left .line1{
    position: absolute;
    top: -100px;
    left: -40px;
}
.carousel-left .line2{
position: absolute;
right: -290px;
}
.carousel-left .star{
    position: absolute;
    top: -140px;
    right: -30px;
}
.carousel-left .corn{
position: absolute;
bottom: 0;
left: 0;
}

@media (max-width:992px) {
.carousel-left{
    width: 100%;
    font-size: 25px ;
    margin-top: 20% !important;
}
}

/* About */
.about .left img{
    width: 300px;
    height:300px;
}
.about .title{
    color: #035781;
    margin-left:10% ;
}
.about .title span{
color: #F3704A;
}
.about .arrows .arrow{
    border: 1px solid #111;
    border-radius: 50%;
}
.about .buttons button{
    background-color: #035781;
}
.about .left{
    animation: backInLeft;
    animation-duration: 2s;
    animation-iteration-count: 3;
}
@media (max-width:768px) {
.about .left img{
    width: 75%;
    height: 75%;
    left:50px !important
}
.about .line{
    width: 90%;
}
}
@media (max-width:576px) {
.about .left img{
    height: 60%;
    width: 75%;
}
}

/* Faq */
.faq2 {
    background-color: #F7F7F7;
}
.faq2 .title , .who .title{
    color: #035781;
}
.faq2 .card{
    position: relative;
    height: 320px;
    margin-bottom: 100px;
}
.faq2 .card-body{
    font-size: 14px;
    font-weight: 400;
}
.faq2 .card img{
    position: absolute;
    bottom:0;
    right: 0;
}
.faq2 .card.c1{
    background-color:#FAEFC7;
}
.faq2 .card.c2{
    background-color:#BEDFF3;
}
.faq2 .card.c3{
    background-color:#F3704A;
}
@media (max-width:992px) {
.faq2 .card img{
width: 40%;
height: 40%;
}
.faq2 .c1 .card-text{
    width: 80% !important;
}
}
@media (max-width:576px) {
.faq2 .card img{
        width: 30%;
        height: 32%;
}
.faq2 .card-body{
    font-size: 11px;
    font-weight: 500;
}
}

/* Who we are */
@media (max-width:768px) {
.who .left img{
    width: 80%;
    height: 90%;
}
}

.form-section{
    padding: 100px;
}
.form-section .lets-talk{
    background-color: #0f7fb8;
}
.form-section .form-sec{
    position: relative;
background-color: #e9ecef;
}
.form-section .form-sec input{
    border-radius: 15px 15px 15px 15px;
}
.form-section .form-sec img{
    position: absolute;
    right: 0.5%;
    bottom: 3%;
}
.form-section .btn{
    background-color: #0f7fb8 !important;
    color: #fff;
    /* width: 30%;
    height: 30%; */
    padding: 12px;
    margin-left: 30%;
    border-radius: 80px    ;
}
.form-section .btn:hover{
    background-color: #0f7fb8;
    color: #FFFEF9;
}
.form-section .message{
    background-color:#FFD433;
    height: 50px;
}
@media (max-width:768px) {
.form-section .row , .form-section .row input::placeholder{
    font-size: 13px;
}
.form-section .btn{
    border-radius: 20px      ;
}
.form-section .lets-talk{
    font-size: 13px;
}
.form-section .lets-talk .orange,.form-section .lets-talk .planet {
    display: none;
}
}
@media (max-width:576px) {
.form-section .row .form-sec div{
    margin-left: -30px !important;
}
.form-section .form-sec input{
    width: 150% !important;
}
.form-section .btn{
    font-size: 10px;
    width: 100px ;
    border-radius: 10px;
    margin-left: -10px;
}
}
/*  */
.copy-right{
    margin-top: 5% !important;
    border: 1px solid #BEDFF3;
    border-bottom: none;
    padding-top: 10px;
    height: 100px;
    width: 100%;
    border-radius: 20px;
}