* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(233, 233, 233);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2387c2;
  border-radius: 10px;
}

html {
  font-size: 72.5%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #292c2d;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

.container {
  max-width: 113rem !important;
  margin: 0 auto;
}

.heading-secondary {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1.6rem;
  color: inherit;
}

.subheading {
  font-size: 2rem;
  font-weight: 300;
}

.btn {
  font-size: 2rem;
  font-weight: 500;
  border-radius: 20px;
  padding: 1.2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-transform: capitalize;
  transition: 0.3s;
}

.primary-btn {
  background-color: #2387c2;
  color: #fff;
}

.primary-btn:hover,
.primary-btn:active {
  background-color: #2376a7;
  color: #fff;
}

.secondary-btn {
  border: 1px solid #2387c2 !important;
  color: #2387c2 !important;
  background-color: transparent;
}

.margin-bottom-md {
  margin-bottom: 2.4rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 50%;
  }
}
