body {
    background-image: linear-gradient(#f8f4db, #fffffe);
  }
  nav{
    position: fixed;
    top: 0;
    z-index: 8;
    width: 100%;
    background-color: #DCDFDF ;
    padding: 18px;
    border-radius: 0px 0px 30px 30px;
    transition: all 0.5s ease-in-out ;
}
#chat{
    cursor: pointer;
}
nav.blur-effect {
    background-color: rgba(220, 223, 223, 0.3); /* 70% transparent */
}
.logo .text-1{
    color: #2387C2;
    font-weight: 700;
    font-size: 17px;
    line-height: 2px;
    padding-top: 5px;
}
.logo .text-2{
    color: #2387C2;
    font-weight: 100;
    font-size: 10px;
}
.container .home-text{
    color: #035781;
    margin-right: 5px !important;
    cursor: pointer;
}
@media (max-width:768px){
.logo .text-1{
        font-weight: 500;
        font-size: 8px;
        line-height: 0px;
    }
nav .home-sentence{
        font-size: 12px;
}
nav img{
        height: 65%;
}
nav .home-sentence{
        display: flex;
        flex-direction: column;
        font-size: 14px;
}}
@media (max-width:576px){
nav{
    width: 100%;
    transform: translateX(0%);
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    padding-bottom: 0;
}
nav img{
    height: 50%;
}
nav .home-sentence{
display: flex;
flex-direction: column;
font-size: 12px;
transform: translateY(-25%);
    }
.logo .text-1{
    font-weight: 500;
    font-size: 8px;
    line-height: 0px;
    padding-top: 5px;
}}
@media (max-width:430px){
    nav .pics{
        display: flex;
        width: 45%;
    }
    /* nav .text{
        display: none !important;
    } */
    nav .logo span{
        transform: translateY(-6px);
    }
    nav .logo span img{
        width: 25px;
        height: 20px;
    }
    nav .home-sentence{
        font-size: 10px;
        font-weight: bold;
    }
}

  .favorite-container {
    max-width: 88rem;
    margin: 8rem auto;
    padding: 0 1.6rem;
    background-color: #fffef9;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  .favorite-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .favorite-title {
    font-size: 2.4rem;
    font-weight: 700;
  }
  
  .nav-tabs {
    padding: 0;
  }
  
  .favorite-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .favorite-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #f2eacc;
    border-radius: 1.1rem;
    font-size: 1.6rem;
    position: relative;
  }
  
  .favorite-item:hover .chat-icons {
    opacity: 1;
    visibility: visible;
  }
  
  .favorite-item .chat-icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8rem;
    transition: 0.5s ease-out;
    opacity: 0;
    visibility: 0;
  }
  
  .favorite-img {
    max-width: 19rem;
  }
  
  .favorite-img img {
    width: 100%;
  }
  
  .favorite-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .favorite-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  
  .heading-tertiary {
    margin: 0;
  }
  
  .rating {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .rating img {
    width: 1.8rem;
    height: 1.8rem;
  }
  
  .price {
    color: #707070;
  }
  
  .price span {
    font-weight: 500;
    color: #f3704a;
  }
  
  .rooms {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  @media (max-width: 550px) {
    .favorite-heading {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .heading-tertiary {
      font-size: 1.6rem;
    }
  }
  
  @media (max-width: 400px) {
    .favorite-img {
      max-width: 11rem;
    }
  
    .rooms {
      font-size: 1.3rem;
      gap: 1rem;
    }
  }
  